@use "sass:map";

$light-text: rgb(240,240,240);
$dark-text: rgb(16,16,16);

$colors: (
  "coolest": rgb(37,7,83),
  "cooler": rgb(142,97,209), 
  "cool": rgb(207,204,229),
  "none": rgb(247,247,247),
  "warm": rgb(254,224,182),
  "warmer": rgb(241,163,64),
  "warmest": rgb(179,88,6),
);

$text-colors: (
  "coolest": $light-text,
  "cooler": $dark-text,
  "cool": $dark-text,
  "node": $dark-text,
  "warm": $dark-text,
  "warmer": $dark-text,
  "warmest": $light-text,
);

@mixin highlight($color) {
	background-color: map.get($colors, $color);
}

@mixin category-range($color) {
  .#{$color}-range input[type="range"]::-webkit-slider-thumb {
    background: map.get($colors, $color);
  }
  .#{$color}-range input[type="range"]::-moz-range-thumb {
    background: map.get($colors, $color);
  }
  .#{$color}-range input[type="range"]::-ms-thumb {
    background: map.get($colors, $color);
  }
}

@mixin category($color) {
  .#{$color} {
    @include highlight($color);
    color: map.get($text-colors, $color);
  }
  @include category-range($color);
}

$colorList: "coolest", "cooler", "cool", "none", "warm", "warmer", "warmest";
@each $color in $colorList {
  @include category($color)
}
.mainContainer {
  display: grid;
	color: rgb(16, 16, 16);
  justify-content: center;
  grid-template-rows: auto 1fr;
}
.contentContainer {
  line-height: 1.7em;
	display: inline-block;
  overflow: scroll;
}
.contentContainer * {
	padding: 0.3em;
}
/* Range sliders */
.controlContainer {
	display: grid;
	row-gap: 0.1em;
	column-gap: 0.5em;
  text-align: center;
  padding: 0.666em;
  padding-top: 0.333em;
  background-color: rgba(252, 220, 230, 0.666);
	grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  position: sticky;
  top: 0;
}
.optimist {
	background-color: rgb(254,224,182);
}
.pessimist {
	background-color: rgb(216,218,235);
}
.optimistButton {
	color: rgb(240, 240, 240);
  background-color: rgb(179,88,6);
}
.pessimistButton {
	color: rgb(240, 240, 240);
  background-color: rgb(84,39,136);
}

/* Range slider colors */
.optimist input[type="range"]::-webkit-slider-thumb {
  background: rgb(179,88,6);
}
.optimist input[type="range"]::-moz-range-thumb {
  background: rgb(179,88,6);
}
.optimist input[type="range"]::-ms-thumb {
  background: rgb(179,88,6);
}

.pessimist input[type="range"]::-webkit-slider-thumb {
  background: rgb(84,39,136);
}
.pessimist input[type="range"]::-moz-range-thumb {
  background: rgb(84,39,136);
}
.pessimist input[type="range"]::-ms-thumb {
  background: rgb(84,39,136);
}
