/* https://colorbrewer2.org/?type=diverging&scheme=RdBu&n=7 */
.hot {
  color: red;
}

.warmest {
  color: rgb(244, 234, 224);
  background-color: rgb(178,24,43);
} 
.warmer {
  color: rgb(19, 21, 22);
  background-color: rgb(239,138,98);
} 
.warm {
  color: rgb(19, 21, 22);
  background-color: rgb(253,219,199);
} 
.none {
  color: rgb(19, 21, 22);
  background-color: rgb(247,247,247);
} 
.cool {
  color: rgb(19, 21, 22);
  background-color: rgb(209,229,240);
} 
.cooler {
  color: rgb(19, 21, 22);
  background-color: rgb(103,169,207);
} 
.coolest {
  color: rgb(224, 234, 244);
  background-color: rgb(33,102,172);
}
