.rangeContainer {
	display: grid;
	border-radius: 50%;
	grid-template-columns: auto minmax(auto, 3fr) auto;
}
.rangeContainer input[type=range]{
  -webkit-appearance: none;
  background-color: rgba(0,0,0,0);
}
.rangeWrapper {
	position: relative;
}
.rangeContainer input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
  clip-path: path('M 0 10 L 20 20 L 20 15 L 70 15 L 70 20 L 90 10 L 70 0 L 70 5 L 20 5 L 20 0 Z');
	border: none;
	height: 20px;
	width: 90px;
}
.rangeContainer input[type=range]::-moz-range-thumb {
  clip-path: path('M 0 10 L 20 20 L 20 15 L 70 15 L 70 20 L 90 10 L 70 0 L 70 5 L 20 5 L 20 0 Z');
	border: none;
	height: 20px;
	width: 90px;
}
.rangeContainer input[type=range]::-ms-thumb {
  clip-path: path('M 0 10 L 20 20 L 20 15 L 70 15 L 70 20 L 90 10 L 70 0 L 70 5 L 20 5 L 20 0 Z');
	border: none;
	height: 20px;
	width: 90px;
}
.down {
  background-color: #FFFFFF;
  box-shadow: -2px 2px 5px rgb(28, 28, 28);
}
.round {
	border-radius: 50%;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-6px);
  color: inherit;
  padding: 0px;
	border: none;
	height: 28px;
	width: 28px;
}
